@use 'resets';
@use 'variables';


.header_container{
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    .logo{

        .logo_h2{
            a{
                text-decoration: none;
                font-weight: 700;
                padding: 8px 0;
            }
        }
    }


    .header_container-nav{
        .header_container-nav-main{
            .nav-ul{
                display: flex;
                justify-content: space-evenly;

                li{
                    margin: .9rem 1.8rem;

                    a{
                        font-size: 1.1rem;
                        font-weight: 500;
                        opacity: .9;
                    }
                    a:hover{
                        color: #EA4E4B;
                    }
                }
                
            }
        }
    }

    .registerAndSignin{
        margin: .3rem 0rem;

        .registerAndSignin_login{
            padding: 6px 3rem;
            border: 1px solid #11453B;
            border-radius: 30px;
            margin-right: 1rem;
        }
        .registerAndSignin_login:hover{
            background-color: #11453B;
            color: #fff;
        }
        .registerAndSignin_register{
            padding: 7px 3rem;
            background-color: #11453B;
            color: #fff;
            border-radius: 30px;
        }
        
    }
}



// main.scss

.hero {
    padding: 40px 0;
    margin-bottom: 3rem;
    
  
    .hero-content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
  
      .column {
        flex: 1;
        padding: 20px;
      }
  
      .column-center {

        #h1{
            font-family: 'Caprasimo', cursive;
            font-weight: 100;
            font-size: 4rem;
            text-align: left;
        }
        .hero_desc{
            font-size: 1.5rem;
            text-align: left;
            margin-bottom: 2rem;
        }
        .freef{
            text-align: left;
            background-color: #11453B;
            padding: .8rem 2.5rem;
            border-radius: 40px;
            text-decoration: none;
            color: #fff;
            margin: 1rem 0;
            margin-bottom: 2rem;
        }
        p{
            margin-top: 1rem;

        }
        #downlod_p{
            margin-top: 4rem;
            font-weight: 500;
        }
      }
    }
  }
  

#headerAndHero {
    

  }
  
  
  .app-logos{
    display: flex;
    position: relative;
    .appStore{
        a{
            img{
                position: absolute;
                left: -50px;
                top: -30px;
            }
        }
    }
    .googlePlay{
        a{
            img{
                position: absolute;
                left: 145px;
                top: -30px;
            }
        }
    }
  }



  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 3rem;
  }
  
  .container {
    width: 80%;
    max-width: 1128px;
    padding: 20px;
  }
  
  .centered-div {
    text-align: center;
    height: 600px;
  }
  

.page-container{
    position: relative;
    height: 937px;

    img{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -10;
        background-size: cover;
        width: 100%;
    }
}

.page-container{

    .container{

        .centered-div{

            .ib_head{
                margin-bottom: 54px;
                
                h2{
                    font-family: 'Caprasimo', cursive;
                    font-size: 50px;
                    color: rgba(17, 69, 59, 1);
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                }
            }
            .ib_content{
                height: 320px;
                color: #fff;
                text-align: left;
                display: flex;
                position: relative;

                .ib_content_one{
                    padding: 34px 25px;
                    border-radius: 16px;
                    width: 524px;
                    height: 320px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba(17, 69, 59, 1);
                    box-shadow: -11px 0px 19px 0px rgba(23, 23, 23, 0.9);
                    box-shadow: 0px 13px 20px 0px rgba(23, 23, 23, 0.4);
                    transition: transform 0.3s ease-in-out;

                    
                    h4{
                        font-size: 24px;
                        width: 400px;
                        text-align: left;
                    }

                    div{

                        ul{
                            padding-left: 0;

                            li{
                                line-height: 2;
                                padding-bottom: 10px;
                                width: 400px;
                            }
                        }
                    }
                }
                .ib_content_one:hover ~.ib_content_two{
                    transform: translateX(200px); 
                  }
                .ib_content_two{
                    width: 524px;
                    height: 320px;
                    padding: 30px;
                    border-radius: 16px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba(17, 69, 59, 1);
                    position: absolute;
                    left: 288px;
                    box-shadow: -11px 0px 19px 0px rgba(23, 23, 23, 0.9);
                    box-shadow: 0px 13px 20px 0px rgba(23, 23, 23, 0.4);
                    transition: transform 0.3s ease-in-out;


                    h4{
                        font-size: 24px;
                        width: 400px;
                        text-align: left;
                        margin-top: 18px;
                    }

                    div{

                        ul{
                            padding-left: 0;

                            li{
                                line-height: 2;
                                padding-bottom: 10px;
                                width: 400px;
                            }
                        }
                    }
                }
                .ib_content_two:hover {
                    transform: translateX(-200px);
                  }
                .ib_content_three{
                    width: 524px;
                    height: 320px;
                    padding: 34px;
                    border-radius: 16px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba(17, 69, 59, 1);
                    position: absolute;
                    left: 588px;
                    box-shadow: -11px 0px 19px 0px rgba(23, 23, 23, 0.9);
                    box-shadow: 0px 13px 20px 0px rgba(23, 23, 23, 0.4);
                    transition: transform 0.3s ease-in-out;


                    h4{
                        font-size: 24px;
                        width: 400px;
                        text-align: left;
                    }

                    div{
                        ul{
                            padding-left: 0;
                            li{
                                line-height: 2;
                                padding-bottom: 10px;
                                width: 400px;
                            }
                        }
                    }
                }
                .ib_content_three:hover {
                    transform: translateX(-45px); 
                  }
            }
            .ib_p{
                font-size: 20px;
                margin-top: 32px;
                margin-bottom: 32px;
            }
        }
    }
}


/* Works */

.works_container{
    .works_heading{
        height: 116px;
        text-align: center;
        margin-bottom: 2rem;

        h2{
            font-family: 'Caprasimo', cursive;
            font-size: 50px;
            color: rgba(17, 69, 59, 1);
        }
        p{
            font-size: 25px;
            font-weight: 400;
        } 
    }
    .works_main_content{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        height: 682px;
        width: 984px;
        //background-color: aliceblue;
        margin-bottom: 4rem;

        .works_content_colum_img{
            position: relative;

            img{
                position: absolute;
                top: 2.5rem;
            }

                .onbrdng-con{
                    position: absolute;
                    left: 109px;
                    top: -40px;
                }
            
        }
        .works_content_colum_steps{
            width: 360px;
            position: relative;
            right: -622px;

            .step1{
                display: flex;
                margin: 0 55px 15px 0 ;
                position: relative;

                .brd-left{
                    position: absolute;
                    top: 40px;
                }

                .step1-con{
                    

                .num1{
                    width: 44px;
                    height: 44px;
                    font-size: 33px;
                    padding: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(17, 69, 59, 1);
                    color: #fff;
                    border-radius: 16px;
                    font-weight: 500;
                    box-shadow: 0px 20px 48px 0px rgba(170, 170, 170, 0.29);
                }
                .step1_name{
                    width: 360px;
                    padding: 5px 0;
                }
                }
            }
            

        }

    }
}

